<!-- Title -->
{{ define "title" }} Arman Ashrafian {{ end }} {{ define "style"}}
<!-- CSS -->
<style>
    html {
        background-color: #fff;
        overflow: hidden;
        height: 100%;
    }

    #index_content {
        color: #1B5E20;
        text-align: center;
    }

    .messagecard {
        padding: .5em;
        font-size: large !important;
        margin-left: .5em;
        margin-right: .2em;
    }

    #log {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        right: 0.5em;
        bottom: 7em;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #chatInput {
        position: absolute;
        bottom: 1em;
        left: 0px;
        width: 100%;
        padding: .5em, .5em, .5em, .5em;
        overflow: hidden;
    }
</style>
{{ end }}

<!-- Page Content -->
{{define "content" }}

<!-- CHAT CONTAINER -->
<div class="container" id="content">
    <div class="row">
        <div id="log" class="col s12"></div>
    </div>

    <div class="row">
        <div class="input-field col s12" id="chatInput">
            <i id="sendButton" class="material-icons prefix">send</i>
            <input style="font-size: 24pt;" id="chatMsg" />
        </div>
    </div>
</div>

{{ end }}

<!-- Javascript -->
{{define "js"}}
<script>
    /* CHAT LOGIC */

    let conn;
    let username;
    let msg = document.getElementById("msg");
    let log = document.getElementById("log");

    fetchUsername().then((name) => {
        username = name
    })

    let websocketurl = "ws://" + document.location.host + "/chat"
    conn = new WebSocket(websocketurl)

    /* Set events for send click & enter pressed */
    $("#sendButton").click(send)
    $("#chatMsg").keypress((e) => {
        if (e.keyCode === 13) {
            send();
        }
    })

    conn.onopen = () => {
        let item = document.createElement('div')
        item.innerHTML = '<b>connected to chat server (: </b>'
        appendLog(item, "blue-grey")
        displayPastMessages()
    }

    conn.onmessage = (e) => {
        displayMessage(e.data)
    }


    /* ******************************* FUNCTIONS ********************************* */
    // appendLog
    // param: html elem, background color of card 
    // scrolls down if necessary
    function appendLog(item, backgroundColor) {
        let doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
        item.classList.add("card", "messagecard", backgroundColor, "lighten-1", "flow-text")
        log.appendChild(item);
        if (doScroll) {
            log.scrollTop = log.scrollHeight - log.clientHeight;
        }
    }

    // send message JSON object
    function send() {
        let msg = $("#chatMsg");

        if (!conn || !msg.val()) {
            return false;
        }

        let time = new Date()
        let timeStamp = time.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
        var messageDetails = {
            userName: username,
            body: msg.val(),
            timestamp: timeStamp
        }
        conn.send(JSON.stringify(messageDetails))
        msg.val("")
    }

    // displayMessage
    // param: messsage to display to log
    // decides background color depending message sender
    function displayMessage(mes) {
        let message = JSON.parse(mes)
        let item = document.createElement("h4");

        if (message.userName === username) {
            backgroundColor = "blue";
            item.style.cssText = "margin-left: 60px;";
        } else {
            backgroundColor = "grey";
            item.style.cssText = "margin-right: 60px;";
        }

        // display message
        item.innerHTML = `<b>${message.userName}</b>: ${message.body}<br>${message.timestamp}`;
        appendLog(item, backgroundColor);
    }

    // fetchUsername
    // fetch() '/getuser' and return username
    async function fetchUsername() {
        const resp = await fetch("getuser", {
            method: 'POST',
            credentials: 'include'
        });
        const json = await resp.json()
        return json.user
    }

    function displayPastMessages() {
        fetch('getAllMessages', {
            method: 'POST',
            credentials: 'include'
        }).then((resp) => {
            return resp.json()
        }).then((resp) => {
            console.log(resp);
        })
    }
</script> {{end}}